  .hero{
    
    background: linear-gradient(180deg,#fde1ff , #e1ffea22 60%);
display: flex;
width: 100%;

height: calc(100vh - 0.1vh);
  }
  .hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 80px;
    line-height: 1.0;
  }
  .hero-left h2{
    color: #090909;
  font-size: 20px;
  font-weight: 800;
  }
  .hero-left p{
    color: #171717;
    font-size: 45px;
    font-weight: 700;
  }
  .hero-hand-icon{
    display: flex;
    align-items: center; 
    gap: 10px;
  }
  .hero-hand-icon img{
width: 105px;
  }
  .hero-letest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 260px;
    height: 60px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  .hero-letest-btn img{
    width: 20px;
  }
  .hero{
    height: 500px;
   }
  .hero-right{
    display: flex;
    align-items: center;
    justify-self: center;
      padding-left: 200px;
   }
 .hero-right img{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-left: 1vw;

} 

@media (max-width:980px) {
 
  .hero-left{
    padding-left: 100px;
  }
  .hero-left h2{
    font-size: 18px;
  }
  .hero-left p{
    font-size: 38px;
  }
  .hero-hand-icon img{
    width: 90px;
  }
  .hero-letest-btn{
    gap: 10px;
    width: 240px;
    height: 50px;
    margin-top: 20px;
    font-size: 15px;

  }
  .hero-right img{
    width: 330px;
  }
}


@media (max-width:856px) {
  .hero-left{
    padding-left: 80px;
  } 
  .hero-left h2{
    font-size: 14px;
  }
  .hero-left p{
    font-size: 38px;
  }
  .hero-hand-icon img{
    width: 65px;
  }
  .hero-letest-btn{
    gap: 10px;
    width: 240px;
    height: 50px;
    margin-top: 20px;
    font-size: 15px;

  }
  .hero-right{
    padding:0px 0px 0px 100px;
  }
  .hero-right img{
    width: 330px;
    margin-left: -30px;
  }
}


@media (max-width:700px) {
  
 
  .hero-left{
    justify-content: start;
    padding-top: 160px;
    padding-left: 30px;
    gap: 1px;
  }
  .hero-left h2{
    font-size: 13px;
  }
  .hero-left p{
    font-size: 30px;
  }
  .hero-hand-icon img{
    width: 55px;
  }
  .hero-letest-btn{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 15px;

  }
  .hero-right img{
    width: 300px;
  }
}
@media (max-width:580px) {
   .hero-right{
    padding: 0px 0px 0px 20px ;
   }
  .hero-left{
    justify-content: start;
    padding-top: 160px;
    padding-left: 40px;
    gap: 1px;
  }
  .hero-left h2{
    font-size: 10px;
  }
  .hero-left p{
    font-size: 20px;
  }
  .hero-hand-icon img{
    width: 45px;
  }
  .hero-letest-btn{
    width: 155px;
    height: 40px;
    margin-top: 20px;
    font-size: 10px;

  }
  .hero-right img{
    width: 230px;
  
  }
}
@media (max-width:415px) {
 
  .hero-right{
    
   padding: 0px 0px 0px 20px ;
  }
 .hero-left{
   justify-content: start;
   padding-top: 100px;
   padding-left: 80px;
   gap: 10px;
 }
 .hero-left h2{
   font-size: 20px;
 }
 .hero-left p{
   font-size: 35px;
 }
 .hero-hand-icon img{
   width: 35pxpx;
 }
 .hero-letest-btn{
  align-items: center;
   width:160px ;
   height: 38px;
   margin-top: 20px;
   font-size: 10px;
   
  }
 .hero-right img{
display: none;
 
 }
}